<div class="top-content">
<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h1>
<p>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong>, <br />you can share and exchange your opinions , inpressions , and emotions about various books!</p>

<%= link_to 'Log in', user_session_path, class: "btn btn-info text-secondary btn-block" %>
<%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success text-secondary btn-block" %>
</div>