/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana, arial, helvetica, sans-serif;
  }
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }


#error_explanation {
    background-color: white;
    border-color: #a94442;
    color: #a94442;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 4px;
}
#error_explanation h2, #error_explanation h3{
    margin: 0 0 0 10px;
}


.main-contents {
    margin-top: 50px;
    padding: 20px 100px;
}

#sidebar{
    margin-top: 50px;
}
.navbar{
    height: 50px;
}
.navbar-brand{
    margin: 0;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-nav > li > a {
    color:white;
}
.list{
    margin-left: 8px;
}
.menu{
    margin-right: 30px;
}
.top-content{
    width: 40%;
    margin: auto;
}

.input-field{
    margin-bottom: 10px;
    width: 200px;
}
.new-book-field{
    margin-bottom: 10px;
}


.user-info{
    font-weight:bold;
}
.user-image{
    padding: 10px;
}

footer{
    width: 60%;
    margin: auto;
}
.copyright{
    text-align: right;
}
.notice{
    color: green;
}

/*


#notice{
    color: green;
}
#error_explanation{
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}
#error_explanation h2{
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
}
.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}
*/